<div class="search-container mdl-grid">
  <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
  <div class="search-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
    <div class="main-form">
      <div class="start-url-field mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="start-url" [(ngModel)]="startUrl">
        <label class="mdl-textfield__label" for="start-url">Input URL...</label>
      </div>
      <div class="fields-part">
        <div class="search-string-field mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="text" id="search-string" [(ngModel)]="searchString">
          <label class="mdl-textfield__label" for="search-string">Input search string...</label>
        </div>
        <div class="count-urls-field mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="count-urls" [(ngModel)]="countUrls">
          <label class="mdl-textfield__label" for="count-urls">Count urls...</label>
          <span class="mdl-textfield__error">Input is not a number!</span>
        </div>
        <div class="count-threads-field mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="count-threads" [(ngModel)]="countThreads">
          <label class="mdl-textfield__label" for="count-threads">Count threads...</label>
          <span class="mdl-textfield__error">Input is not a number!</span>
        </div>
      </div>
      <div class="buttons-part">
        <div class="start-button">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" (click)="start()">
          Start
        </button>
        </div>
        <div class="pause-button">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" (click)="pause()">
          Pause
        </button>
        </div>
        <div class="stop-button">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" (click)="stop()">
          Stop
        </button>
        </div>
      </div>
      <div class="url-container">
      </div>
      <div #SearchProgressBar class="mdl-progress mdl-js-progress search-progress-bar"></div>
      <div class="url-table">
        <table class="url-table-item mostly-customized-scrollbar mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th>Id</th>
              <th>State</th>
              <th class="mdl-data-table__cell--non-numeric">Url</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let url of urlList">
              <td>{{url.Id}}</td>
              <td>{{url.ScanState}}</td>
              <td class="url-field mdl-data-table__cell--non-numeric">{{url.Value}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="error-dialog">
        <dialog #ErrorDialog class="mdl-dialog">
          <h3 class="mdl-dialog__title">Error</h3>
          <div class="mdl-dialog__content">
            <div class="error-dialog-text mdl-textfield">{{errorMessage}}</div>
          </div>
          <div class="mdl-dialog__actions">
            <button (click)="closeErrorDialog()" type="button" class="error-dialog-button mdl-button close">OK</button>
          </div>
        </dialog>
      </div>
    </div>
  </div>
</div>
